*\~
/inputs/
src/day01
/src/day02
/src/day03
/src/day04
/.ccls-cache/
/src/day05
/src/*.o
/src/day06
/src/day07
/src/day08
/src/day09
/src/day10
/src/day11
/src/day12
/src/day13
/src/day14
/src/day15
